<div>
    <h1>CRUD</h1>
    <form #myForm="ngForm">
        <div>
            <label for="name">Titulo</label>
            <input type="text" name="title" [(ngModel)]="object.title">
        </div>
        <div>
            <label for="name">Autor</label>
            <input type="text" name="author" [(ngModel)]="object.author">
        </div>

        <div>
            <input type="button" value="Salvar" (click)="salvarDado()">
        </div>
    </form>

    <table>
        <thead>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Editar</th>
            <th>Excluir</th>
        </thead>
        <tbody>
            <tr *ngFor="let object of objects">
                <td>{{object.title}}</td>
                <td>{{object.author}}</td>
                <td><input type="button" value="Editar" (click)="editar(object)"></td>
                <td><input type="button" value="Excluir" (click)="excluir(object)"></td>
            </tr>


        </tbody>
    </table>
</div>